<script type="text/javascript" src="{{url_for('beet.beet_js')}}"></script>
<script type="text/javascript">
function connectBeet() {
 beet.allowLocalhostFallback();
 beet.get("{{config.get('BEET_APP_NAME')}}", "BTS").then(beet => {
  var payload = "{{signed_message_payload}}";
  beet.BTS.signMessage(payload).then(res => {
   document.getElementById("signedMessage").value = JSON.stringify(res);
   console.log(document.getElementById("signedMessage").value)
   document.getElementById("beetLogin").submit();
  }).catch((err) => {
   console.error(err);
  });
 }).catch((err) => {
  console.error(err);
 });
}
</script>

<form id="beetLogin" method="POST" action="{{url_for('beet.login')}}">
  {{ beet_login_form.csrf_token }}
  <button value="Beet" onclick="connectBeet()" type="button">
   	<img src="{{url_for('beet.beet_logo')}}" style="width: 200px;"/>
  	<h3>Login<br />with Beet</h3>
  </button>
  <div style="margin-top: 2rem;">
    <div>If you don't have Beet installed you can sign the following message manually:
      <p style="margin-left: 2rem;">{{signed_message_payload}}</p>
      <div style="margin-bottom: 2rem;">
        <label>Enter the signed message below:</label>
        <div>
         {{ beet_login_form.message()|safe }}
        </div>
        {% if beet_login_form.message.errors %}
        <div>
         <div>Error</div>
         <div>
	         <ul>
	         	{% for error in beet_login_form.message.errors %}
          			<li>{{error}}</li>
	          	{% endfor %}
	         </ul>
         </div>
        </div>
        {% endif %}
      </div>
       {{ beet_login_form.submit()|safe }}
    </div>
  </div>
</form>
