{% extends "layout.html" %}

{% block content %}
{% include "_messages.html" %}
<form class="ui form" id="beetLogin" method="POST">
  {{ loginForm.csrf_token }}
  <button class="ui basic button" value="Beet" onclick="connectBeet()" type="button">
    <h2 class="ui header"><img class="image icon" src="{{url_for('.beet_logo')}}"/>
      <div class="content">Login
        <div class="sub header">with Beet</div>
      </div>
    </h2>
  </button>
  <div class="ui accordion">
    <div class="title"><i class="dropdown icon"></i>I don't have Beet installed!</div>
    <div class="{% if loginForm.message.errors %}active {% endif %}content">
      <p>Please sign the following message</p>
      <p class="text centered ui label">{{signed_message_payload}}</p>
      <div class="field {% if loginForm.message.errors %} error {% endif %}">
        <label>Signed Messaged</label>
        <div class="ui input">
         {{ loginForm.message()|safe }}
        </div>
        {% if loginForm.message.errors %}
        <div class="ui red message">
         <div class="header">Error</div>
         <div class="ui list">
          {% for error in loginForm.message.errors %}
          <div class="item">{{error}}</div>
          {% endfor %}
         </div>
        </div>
        {% endif %}
      </div>
       {{ loginForm.submit()|safe }}
    </div>
  </div>
</form>

<script type="javascript">

function connectBeet() {
 beet.get("workers.bitshares.foundation", "BTS").then(beet => {
  var payload = "{{signed_message_payload}}";
  beet.BTS.signMessage(payload).then(res => {

   document.getElementById("signedMessage").value = JSON.stringify(res);
   console.log(document.getElementById("signedMessage").value)
   document.getElementById("beetLogin").submit();
  }).catch((err) => {
   console.error(err);
  });
 }).catch((err) => {
  console.error(err);
 });
}

</script>

{% endblock %}
